@import "./themes/dark";
@import "./themes/light";
@import "./variables/global";
@import "reset";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--text-normal-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
  margin-top: 1rem;

  &__page {
    flex-grow: 1;
  }
}

.container {
  margin: auto;
  max-width: var(--max-w-container);
  padding: 0 var(--p-container);
}
