:root {
  --font-family-main: -apple-system, blinkmacsystemfont, arial, sans-serif;
  --font-size-m: 15px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-lg: 24px;
  --font-line-lg: 24px;
  --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);
  --navbar-height: 50px;
  --max-w-container: 1120px;
  --p-container: 20px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}
