.button {
  cursor: pointer;
  font: var(--font-m);
  font-weight: 500;

  &.clear {
    border: none;
    color: var(--normal-color);
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
  }
}
