.sidebar {
  position: relative;
  height: calc(100vh - var(--navbar-height) - 2rem);
  width: var(--sidebar-width);
  transition: width ease 0.2s;
  background-color: var(--lighten-bg-color);

  &.collapsed {
    width: var(--sidebar-width-collapsed);
  }

  .switchers {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    bottom: 10px;
  }
}
