.app.dark {
  --bg-color: #38454f;
  --text-normal-color: #fff;
  --text-lighten-color: #909090;
  --lighten-bg-color: #607483;
  --inverted-bg-color: #f0f0f0;
  --primary-color: #4d80aa;
  --secondary-color: #7aa600;
}
