.app.light {
  --bg-color: #f0f0f0;
  --text-normal-color: #333;
  --text-lighten-color: #909090;
  --lighten-bg-color: #fff;
  --inverted-bg-color: #303b44;
  --primary-color: #afc3d4;
  --secondary-color: #87c09b;
}
