.navbar {
  background-color: var(--primary-color);
  height: var(--navbar-height);
  padding: 0 1rem;

  .inner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    display: flex;
    gap: 1rem;
  }
}
