.link {
  text-decoration: none;
  font-weight: 500;

  &.primary {
    color: var(--normal-color);

    &:hover {
      color: var(--primary-color);
    }
  }

  &.secondary {
    color: var(--normal-color);

    &:hover {
      color: var(--secondary-color);
    }
  }
}
